div.checkbox-container {
  height: 90px;
  overflow: auto;
  background-color: white;
  text-align: left;
}

.checkbox-container ul {
  list-style: none;
  padding-inline-start: 12px;
}

.checkbox-container li {
  line-height: 1em;
  text-align: left;
  position: relative;
}

.module_count {
  width: 3.5em;
  position: absolute;
  right: 10px;
  height: 90%;
}

.label-container {
  position: relative;
}

.name-label {
  position: absolute;
  left: 10px;
  top: -30px;
}

.quantity-label {
  position: absolute;
  right: 10px;
  top: -30px;
}
