.event-a {
  flex: 100%;
}

.event-b {
  flex: 100%;
}

.event-c {
  flex: 100%;
}

.event-quad {
  padding: 50px 100px 50px 100px;
  // display: inline;
  // flex-wrap: nowrap;
  flex: 50%;
  // align-items: center;
  // justify-content: center;
}
