@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');
$maincolor: #1A1F14;
.add-food-form {
  width: 50%;
}
.edit-food-form
.food-card {
  height: auto;
  margin: 20px;
  img {
    height: auto;
  }
}
#create-food {
  border: #9DBE77;
  background-color: $maincolor;
  color: #9DBE77;
}
.food-button-card {
  background-image: url('../assets/renfaireFood.png');
  background-position: center;
  border-radius: 10px;
  .card-title {
   font-size: 48px;
   color: #9DBE77;
  }
  .card-body {
    cursor: pointer;
  }
}
