@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
}

#nav {
  position: fixed;
  width: 100%;
}

#auth-button {
  margin-left: auto;
}
