@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
}
.content-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-container {
  margin-top: 100px;
}
.food-button-card {
  background-image: url('https://media.istockphoto.com/photos/food-backgrounds-table-filled-with-large-variety-of-food-picture-id1155240408?k=6&m=1155240408&s=612x612&w=0&h=SEhOUzsexrBBtRrdaLWNB6Zub65Dnyjk7vVrTk1KQSU=');
}
.food-card {
  height: 30em;
  margin: 20px;
  img {
    height: 35%;
  }
}
#nav {
  position: fixed;
  width: 100%;
}
#auth-button {
  margin-left: auto;
}

.staff-button-card {
  background-image: url('https://images.unsplash.com/photo-1506364180601-180da27fe1b7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGNyZWVweXxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60');
}
