@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './staff.scss';

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
}
.content-container {
  background-color: aqua;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-container {
  margin-top: 100px;
}
.add-food-form {
  width: 50%;
}
.nav-cards {
  display: flex;
  justify-content: flex-start;
  width: 40em;
  margin: 50px 50px;
}
.nav-cards-left {
  display: flex;
  justify-content: flex-end;
  width: 40em;
  margin: 50px 0;
}
// .food-button-card {
// }
.food-card {
  height: 30em;
  margin: 20px;
  img {
    height: 35%;
  }
}
#nav {
  position: fixed;
  width: 100%;
}
#auth-button {
  margin-left: auto;
}

// .staff-button-card {
// }
