@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');

* {
  box-sizing: border-box;
}
.souvenir-container {
  height: 30em;
}
#souvenir-view {
  color: #9DBE77;
  font-size: 48px;
}
