@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');

.staff-button-card {
  background-image: url('https://images.pexels.com/photos/1534134/pexels-photo-1534134.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.staff-title {
  color: white;
  font-size: 2rem;
}
